<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.dao.StudentInfoMapper">
  <resultMap id="BaseResultMap" type="com.course.model.StudentInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="stu_no" property="stuNo" jdbcType="VARCHAR" />
  <result column="password" property="password" jdbcType="VARCHAR" />
  <result column="sex" property="sex" jdbcType="INTEGER" />
  <result column="real_name" property="realName" jdbcType="VARCHAR" />
  <result column="major_id" property="majorId" jdbcType="INTEGER" />
  <result column="direct_id" property="directId" jdbcType="INTEGER" />
  <result column="class_id" property="classId" jdbcType="INTEGER" />
  <result column="cel_phone" property="celPhone" jdbcType="VARCHAR" />
  <result column="enter_year" property="enterYear" jdbcType="INTEGER" />
  <result column="term_id" property="termId" jdbcType="INTEGER" />
  <result column="family_address" property="familyAddress" jdbcType="VARCHAR" />
  <result column="parent_cel" property="parentCel" jdbcType="VARCHAR" />
  <result column="create_time" property="createTime" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,stu_no,password,sex,real_name,major_id,direct_id,class_id,cel_phone,enter_year,term_id,family_address,parent_cel,create_time
  </sql>
  <select id="selectByExample" parameterType="com.course.model.StudentInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     <if test="startRow >= 0 and pageRows > 0">
  limit ${startRow},${pageRows}
  </if>

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from student_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from student_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.course.model.StudentInfoExample">
    delete from student_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.model.StudentInfo">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

      insert into student_info (stu_no,password,sex,real_name,major_id,direct_id,class_id,cel_phone,enter_year,term_id,family_address,parent_cel,create_time)
      values (	#{id,jdbcType=INTEGER},	#{stuNo,jdbcType=VARCHAR},	#{password,jdbcType=VARCHAR},	#{sex,jdbcType=INTEGER},	#{realName,jdbcType=VARCHAR},	#{majorId,jdbcType=INTEGER},	#{directId,jdbcType=INTEGER},	#{classId,jdbcType=INTEGER},	#{celPhone,jdbcType=VARCHAR},	#{enterYear,jdbcType=INTEGER},	#{termId,jdbcType=INTEGER},	#{familyAddress,jdbcType=VARCHAR},	#{parentCel,jdbcType=VARCHAR},	#{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.course.model.StudentInfo">
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

    insert into student_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="stuNo != null" >
	  stu_no,
 </if>
<if test="password != null" >
	  password,
 </if>
<if test="sex != null" >
	  sex,
 </if>
<if test="realName != null" >
	  real_name,
 </if>
<if test="majorId != null" >
	  major_id,
 </if>
<if test="directId != null" >
	  direct_id,
 </if>
<if test="classId != null" >
	  class_id,
 </if>
<if test="celPhone != null" >
	  cel_phone,
 </if>
<if test="enterYear != null" >
	  enter_year,
 </if>
<if test="termId != null" >
	  term_id,
 </if>
<if test="familyAddress != null" >
	  family_address,
 </if>
<if test="parentCel != null" >
	  parent_cel,
 </if>
<if test="createTime != null" >
	  create_time
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="stuNo != null" >
	 #{stuNo,jdbcType=VARCHAR},
	 </if>
  <if test="password != null" >
	 #{password,jdbcType=VARCHAR},
	 </if>
  <if test="sex != null" >
	 #{sex,jdbcType=INTEGER},
	 </if>
  <if test="realName != null" >
	 #{realName,jdbcType=VARCHAR},
	 </if>
  <if test="majorId != null" >
	 #{majorId,jdbcType=INTEGER},
	 </if>
  <if test="directId != null" >
	 #{directId,jdbcType=INTEGER},
	 </if>
  <if test="classId != null" >
	 #{classId,jdbcType=INTEGER},
	 </if>
  <if test="celPhone != null" >
	 #{celPhone,jdbcType=VARCHAR},
	 </if>
  <if test="enterYear != null" >
	 #{enterYear,jdbcType=INTEGER},
	 </if>
  <if test="termId != null" >
	 #{termId,jdbcType=INTEGER},
	 </if>
  <if test="familyAddress != null" >
	 #{familyAddress,jdbcType=VARCHAR},
	 </if>
  <if test="parentCel != null" >
	 #{parentCel,jdbcType=VARCHAR},
	 </if>
  <if test="createTime != null" >
	 #{createTime,jdbcType=VARCHAR},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.course.model.StudentInfoExample" resultType="java.lang.Long">
    select count(*) from student_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update student_info
    <set>
       <if test="record.stuNo != null" >
	 stu_no = #{record.stuNo,jdbcType=VARCHAR},
</if>
 <if test="record.password != null" >
	 password = #{record.password,jdbcType=VARCHAR},
</if>
 <if test="record.sex != null" >
	 sex = #{record.sex,jdbcType=INTEGER},
</if>
 <if test="record.realName != null" >
	 real_name = #{record.realName,jdbcType=VARCHAR},
</if>
 <if test="record.majorId != null" >
	 major_id = #{record.majorId,jdbcType=INTEGER},
</if>
 <if test="record.directId != null" >
	 direct_id = #{record.directId,jdbcType=INTEGER},
</if>
 <if test="record.classId != null" >
	 class_id = #{record.classId,jdbcType=INTEGER},
</if>
 <if test="record.celPhone != null" >
	 cel_phone = #{record.celPhone,jdbcType=VARCHAR},
</if>
 <if test="record.enterYear != null" >
	 enter_year = #{record.enterYear,jdbcType=INTEGER},
</if>
 <if test="record.termId != null" >
	 term_id = #{record.termId,jdbcType=INTEGER},
</if>
 <if test="record.familyAddress != null" >
	 family_address = #{record.familyAddress,jdbcType=VARCHAR},
</if>
 <if test="record.parentCel != null" >
	 parent_cel = #{record.parentCel,jdbcType=VARCHAR},
</if>
 <if test="record.createTime != null" >
	 create_time = #{record.createTime,jdbcType=VARCHAR}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update student_info
    set 
    				stu_no = #{record.stuNo,jdbcType=VARCHAR},	password = #{record.password,jdbcType=VARCHAR},	sex = #{record.sex,jdbcType=INTEGER},	real_name = #{record.realName,jdbcType=VARCHAR},	major_id = #{record.majorId,jdbcType=INTEGER},	direct_id = #{record.directId,jdbcType=INTEGER},	class_id = #{record.classId,jdbcType=INTEGER},	cel_phone = #{record.celPhone,jdbcType=VARCHAR},	enter_year = #{record.enterYear,jdbcType=INTEGER},	term_id = #{record.termId,jdbcType=INTEGER},	family_address = #{record.familyAddress,jdbcType=VARCHAR},	parent_cel = #{record.parentCel,jdbcType=VARCHAR},	create_time = #{record.createTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.model.StudentInfo">
    update student_info
    <set>
       <if test="stuNo != null" >
	 stu_no = #{stuNo,jdbcType=VARCHAR},
</if>
 <if test="password != null" >
	 password = #{password,jdbcType=VARCHAR},
</if>
 <if test="sex != null" >
	 sex = #{sex,jdbcType=INTEGER},
</if>
 <if test="realName != null" >
	 real_name = #{realName,jdbcType=VARCHAR},
</if>
 <if test="majorId != null" >
	 major_id = #{majorId,jdbcType=INTEGER},
</if>
 <if test="directId != null" >
	 direct_id = #{directId,jdbcType=INTEGER},
</if>
 <if test="classId != null" >
	 class_id = #{classId,jdbcType=INTEGER},
</if>
 <if test="celPhone != null" >
	 cel_phone = #{celPhone,jdbcType=VARCHAR},
</if>
 <if test="enterYear != null" >
	 enter_year = #{enterYear,jdbcType=INTEGER},
</if>
 <if test="termId != null" >
	 term_id = #{termId,jdbcType=INTEGER},
</if>
 <if test="familyAddress != null" >
	 family_address = #{familyAddress,jdbcType=VARCHAR},
</if>
 <if test="parentCel != null" >
	 parent_cel = #{parentCel,jdbcType=VARCHAR},
</if>
 <if test="createTime != null" >
	 create_time = #{createTime,jdbcType=VARCHAR}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.model.StudentInfo">
    update student_info
    set 
     			stu_no = #{stuNo,jdbcType=VARCHAR},	password = #{password,jdbcType=VARCHAR},	sex = #{sex,jdbcType=INTEGER},	real_name = #{realName,jdbcType=VARCHAR},	major_id = #{majorId,jdbcType=INTEGER},	direct_id = #{directId,jdbcType=INTEGER},	class_id = #{classId,jdbcType=INTEGER},	cel_phone = #{celPhone,jdbcType=VARCHAR},	enter_year = #{enterYear,jdbcType=INTEGER},	term_id = #{termId,jdbcType=INTEGER},	family_address = #{familyAddress,jdbcType=VARCHAR},	parent_cel = #{parentCel,jdbcType=VARCHAR},	create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>
