<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.dao.TeacherInfoMapper">
  <resultMap id="BaseResultMap" type="com.course.model.TeacherInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="tno" property="tno" jdbcType="VARCHAR" />
  <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
  <result column="real_name" property="realName" jdbcType="VARCHAR" />
  <result column="sex" property="sex" jdbcType="INTEGER" />
  <result column="cel_phone" property="celPhone" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,tno,pass_word,real_name,sex,cel_phone
  </sql>
  <select id="selectByExample" parameterType="com.course.model.TeacherInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     <if test="startRow >= 0 and pageRows > 0">
  limit ${startRow},${pageRows}
  </if>

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from teacher_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from teacher_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.course.model.TeacherInfoExample">
    delete from teacher_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.model.TeacherInfo">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

      insert into teacher_info (tno,pass_word,real_name,sex,cel_phone)
      values (	#{id,jdbcType=INTEGER},	#{tno,jdbcType=VARCHAR},	#{passWord,jdbcType=VARCHAR},	#{realName,jdbcType=VARCHAR},	#{sex,jdbcType=INTEGER},	#{celPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.course.model.TeacherInfo">
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

    insert into teacher_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="tno != null" >
	  tno,
 </if>
<if test="passWord != null" >
	  pass_word,
 </if>
<if test="realName != null" >
	  real_name,
 </if>
<if test="sex != null" >
	  sex,
 </if>
<if test="celPhone != null" >
	  cel_phone
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="tno != null" >
	 #{tno,jdbcType=VARCHAR},
	 </if>
  <if test="passWord != null" >
	 #{passWord,jdbcType=VARCHAR},
	 </if>
  <if test="realName != null" >
	 #{realName,jdbcType=VARCHAR},
	 </if>
  <if test="sex != null" >
	 #{sex,jdbcType=INTEGER},
	 </if>
  <if test="celPhone != null" >
	 #{celPhone,jdbcType=VARCHAR},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.course.model.TeacherInfoExample" resultType="java.lang.Long">
    select count(*) from teacher_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update teacher_info
    <set>
       <if test="record.tno != null" >
	 tno = #{record.tno,jdbcType=VARCHAR},
</if>
 <if test="record.passWord != null" >
	 pass_word = #{record.passWord,jdbcType=VARCHAR},
</if>
 <if test="record.realName != null" >
	 real_name = #{record.realName,jdbcType=VARCHAR},
</if>
 <if test="record.sex != null" >
	 sex = #{record.sex,jdbcType=INTEGER},
</if>
 <if test="record.celPhone != null" >
	 cel_phone = #{record.celPhone,jdbcType=VARCHAR}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update teacher_info
    set 
    				tno = #{record.tno,jdbcType=VARCHAR},	pass_word = #{record.passWord,jdbcType=VARCHAR},	real_name = #{record.realName,jdbcType=VARCHAR},	sex = #{record.sex,jdbcType=INTEGER},	cel_phone = #{record.celPhone,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.model.TeacherInfo">
    update teacher_info
    <set>
       <if test="tno != null" >
	 tno = #{tno,jdbcType=VARCHAR},
</if>
 <if test="passWord != null" >
	 pass_word = #{passWord,jdbcType=VARCHAR},
</if>
 <if test="realName != null" >
	 real_name = #{realName,jdbcType=VARCHAR},
</if>
 <if test="sex != null" >
	 sex = #{sex,jdbcType=INTEGER},
</if>
 <if test="celPhone != null" >
	 cel_phone = #{celPhone,jdbcType=VARCHAR}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.model.TeacherInfo">
    update teacher_info
    set 
     			tno = #{tno,jdbcType=VARCHAR},	pass_word = #{passWord,jdbcType=VARCHAR},	real_name = #{realName,jdbcType=VARCHAR},	sex = #{sex,jdbcType=INTEGER},	cel_phone = #{celPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>
